*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: verdana;
	
}
h1 {
	padding:10px;
}
img {
	display:inline-block;
	padding-top: 20px;
	padding-left: 10px;
}
#wrapper {
	width: 580px;
	padding-left: 20px;
	background-color: black;
	color:white;
}
